@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
.letter {@apply m-0 hover:font-semibold duration-200 hover:p-0.5 hover:text-[26px] hover:[letter-spacing:-1px]; letter-spacing:0px;}
.letter.ai {@apply font-normal hover:p-0;}
.letter.ai:hover {@apply hover:text-[29px]}
.h1-ai-group:hover .letter.ai {animation: 0.5s ai_letter_anim infinite alternate;}
.h1-ai-group:hover .letter.ai:nth-of-type(2) {animation-delay: 0.05s;}
.h1-ai-group {@apply hover:px-2 px-1 duration-200 hover:bg-surface1/30 bg-surface0/20 rounded-md}

@keyframes ai_letter_anim {
  from {position:relative;top:-3px;}
  to {position:relative;top:3px;}
}

vsep {border-right: 1px solid rgba(255,255,255,0.3); @apply inline;}

body,html {width:100%; height:100%;}
.chatbox-textarea-input {@apply px-3 py-1 bg-[rgb(7,7,17)]/80 hover:bg-[rgb(7,7,17)] focus:bg-[rgb(7,7,17)] ring-1 hover:ring-[3px] duration-200 ring-surface0/60 hover:ring-surface0/80 hover:shadow-inner active:shadow-inner focus:shadow-inner ;}
chatbox {@apply bg-[rgb(7,7,17)]/60 ring-2 ring-mantle  hover:bg-[rgb(7,7,17)]/80 backdrop-blur-lg duration-200 p-4 rounded-lg rounded-b-none w-[48%]; margin-bottom:62px;}
chat {@apply w-[56%] h-full bg-black/5 flex mx-auto overflow-y-auto;
  
}

chat-bubble {@apply p-1 inline-block bg-black/30 min-w-[20%] mx-4 mb-1 ml-auto rounded-2xl pr-6 pl-2 py-1 text-lg my-2 shadow-md;}
chat-bubble[author="user"] {@apply rounded-br-md text-blue bg-blue-950}
chat-bubble[author="assistant"] {@apply rounded-bl-md text-green bg-[#166534] text-right ml-4 mr-auto;}

chat-bubble {animation:0.77s chatBubble_anim forwards;}
@keyframes chatBubble_anim {
 0% { position:relative; opacity:0;left:120px; transform:rotateX(65deg); overflow:hidden; }
 60% { position:relative; opacity:1; left:-10px;  transform:rotateX(20deg); overflow:hidden;}
 100% { position:relative; opacity:1; left:0px;  transform:rotateX(0deg); overflow:hidden;}
}

button.send {@apply w-[10%] min-w-[88px] hover:bg-blue-950 bg-[rgb(7,7,17)]/80  ring-surface0/60  hover:ring-blue/60 hover:shadow-inner ring-1 border border-white/40 border-l-0 hover:ring-[3px] duration-300 flex mx-auto justify-center align-middle items-center rounded-r-md text-center h-[58px];
}

@keyframes sendIco_clickAnim {
  from {position:relative; margin-left:25%;opacity:1;width:32px !important;}
  25% {position:relative; margin-left:10px;opacity:1;margin-top:0px;width:32px !important;}
  60% {position:relative; margin-left:120px;opacity:0;transform: rotateZ(-30deg);width:32px !important;}
  70% {margin-bottom:32px;}
  81% {position:relative; margin-left:-100px;opacity:0;width:32px !important;transform: rotateZ(30deg);margin-bottom:32px;}
  90% {position:relative; margin-left:25%; opacity:1;width:32px !important;transform: rotateZ(10deg);}
  100% {position:relative; margin-left:25%; opacity:1;transform: rotateZ(0deg);width:32px !important;margin-bottom:0px;}
}

button.send.anim svg {animation: 1.5s sendIco_clickAnim;overflow-x:hidden !important;width:32px !important;}
button.send {overflow-x:hidden !important;}
.discord-txt-hover:hover {
  background-image:url("data:image/svg+xml,%3Csvg width='120' height='120' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999ZM14.939 16.5H9.06c.652 2.414 1.786 4.002 2.939 4.002s2.287-1.588 2.939-4.002Zm-7.43 0H4.785a8.532 8.532 0 0 0 4.094 3.411c-.522-.82-.953-1.846-1.27-3.015l-.102-.395Zm11.705 0h-2.722c-.324 1.335-.792 2.5-1.373 3.411a8.528 8.528 0 0 0 3.91-3.127l.185-.283ZM7.094 10H3.735l-.005.017a8.525 8.525 0 0 0-.233 1.984c0 1.056.193 2.067.545 3h3.173a20.847 20.847 0 0 1-.123-5Zm8.303 0H8.603a18.966 18.966 0 0 0 .135 5h6.524a18.974 18.974 0 0 0 .135-5Zm4.868 0h-3.358c.062.647.095 1.317.095 2a20.3 20.3 0 0 1-.218 3h3.173a8.482 8.482 0 0 0 .544-3c0-.689-.082-1.36-.236-2ZM8.88 4.09l-.023.008A8.531 8.531 0 0 0 4.25 8.5h3.048c.314-1.752.86-3.278 1.583-4.41ZM12 3.499l-.116.005C10.62 3.62 9.396 5.622 8.83 8.5h6.342c-.566-2.87-1.783-4.869-3.045-4.995L12 3.5Zm3.12.59.107.175c.669 1.112 1.177 2.572 1.475 4.237h3.048a8.533 8.533 0 0 0-4.339-4.29l-.291-.121Z' fill='%23585b70'/%3E%3C/svg%3E"); background-size:contain; background-position: -33% center; background-size: 80px;background-repeat: no-repeat;
  animation:0.6s discord-txt-hover_Anim forwards;
}
.discord-txt-hover {background-position: 0% center;}
@keyframes discord-txt-hover_Anim {
  from {background-position: -133% center;background-size: 100px;backdrop-filter: brightness(0.6);}
  to {background-position: 200% center;background-size: 80px;backdrop-filter: brightness(0.1);}
}