@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Light.woff2") format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Medium.woff2") format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "Geist";
  font-style: normal;
  src: url("./assets/Geist-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
.letter {@apply m-0 hover:font-semibold duration-200 hover:p-0.5 hover:text-[26px] hover:[letter-spacing:-1px]; letter-spacing:0px;}
.letter.ai {@apply font-normal hover:p-0;}
.letter.ai:hover {@apply hover:text-[29px]}
.h1-ai-group:hover .letter.ai {animation: 0.5s ai_letter_anim infinite alternate;}
.h1-ai-group:hover .letter.ai:nth-of-type(2) {animation-delay: 0.05s;}
.h1-ai-group {@apply hover:px-2 px-1 duration-200 hover:bg-surface1/30 bg-surface0/20 rounded-md}

@keyframes ai_letter_anim {
  from {position:relative;top:-3px;}
  to {position:relative;top:3px;}
}

vsep {border-right: 1px solid rgba(255,255,255,0.3); @apply inline;}

body,html {width:100%; height:100%;}
.chatbox-textarea-input {@apply px-3 py-1 bg-[rgb(7,7,17)]/80 hover:bg-[rgb(7,7,17)] focus:bg-[rgb(7,7,17)] ring-1 hover:ring-[3px] duration-200 ring-surface0/60 hover:ring-surface0/80 hover:shadow-inner active:shadow-inner focus:shadow-inner ;}
chatbox {@apply fixed bottom-0 bg-[rgb(7,7,17)]/60 ring-2 ring-mantle  hover:bg-[rgb(7,7,17)]/80 backdrop-blur-lg duration-200 p-4 rounded-lg rounded-b-none w-[48%]}
chat {@apply w-[56%] h-full bg-black/5 flex justify-center container mx-auto}